<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MyBatis Web Template Generator">
    <meta name="author" content="achimid">

    <title>MyBatis Web Template Generator</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="vendor/loading.io/loading.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/loading.io/loading-btn.css"/>

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">

  </head>
  <body>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <h1 class="mb-5">Generate XML CRUD template from MyBatis. </h1>
          </div>
          <div class="col-md-10 mx-auto">
            <form action="#">
              <div class="form-row">

                <div class="col-md-4 form-group">
                  <label for="clazzPackage">Class Package</label>
                  <input type="text" class="form-control" id="clazzPackage" placeholder="Ex: br.com.model.template" required="true">
                </div>
                <div class="col-md-4 form-group">
                  <label for="clazzNameFull">Class Full Name</label>
                  <input type="text" class="form-control" id="clazzNameFull" placeholder="Ex: OrderItem.java" required="true">
                </div>
                <div class="col-md-4 form-group">
                  <label for="clazzPackage">Alias</label>
                  <input type="text" class="form-control" id="clazzAlias" placeholder="Ex: order" required="true">
                </div>

                <div class="col-12">
                  <button type="button" class="btn btn-info mg-b-10 col-md-4 js-button-add-field">
                    Fields
                    <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <div id="fields" >
                    <div class="offset-md-4 col-md-4 js-fields-list"></div>
                  </div>
                </div>

                <div class="col-12 js-options">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optHeader" checked>
                    <label class="custom-control-label" for="optHeader">Header</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optNamespace" checked>
                    <label class="custom-control-label" for="optNamespace">Namespace</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optAlias" checked>
                    <label class="custom-control-label" for="optAlias">Alias</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optResultMap" checked>
                    <label class="custom-control-label" for="optResultMap">ResultMap</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optSqlWhere" checked>
                    <label class="custom-control-label" for="optSqlWhere">SqlWhere</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optInsert" checked>
                    <label class="custom-control-label" for="optInsert">Insert</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optUpdate" checked>
                    <label class="custom-control-label" for="optUpdate">Update</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optListaPorExemplo" checked>
                    <label class="custom-control-label" for="optListaPorExemplo">ListaPorExemplo</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optListaTodos" checked>
                    <label class="custom-control-label" for="optListaTodos">ListaTodos</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optContaPorExemplo" checked>
                    <label class="custom-control-label" for="optContaPorExemplo">ContaPorExemplo</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optContaTodos" checked>
                    <label class="custom-control-label" for="optContaTodos">ContaTodos</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optPegaPorId" checked>
                    <label class="custom-control-label" for="optPegaPorId">PegaPorId</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optApagaPorId" checked>
                    <label class="custom-control-label" for="optApagaPorId">ApagaPorId</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="optFooter" checked>
                    <label class="custom-control-label" for="optFooter">Footer</label>
                  </div>

                </div>
                <div class="col-12">
                  <button type="submit" id="btnGenerate" class="btn btn-block btn-lg btn-primary mg-b-10 ld-ext-center running">
                    Generate
                  </button>
                </div>
                <div class="col-12 js-xmlTemplate d-none">
                  <textarea id="xmlTemplate" class="form-control form-control-lg big-textarea" placeholder="Xml Template..."></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/index.js"></script>

  </body>

</html>
